# https://docs.cilium.io/en/v1.12/gettingstarted/kind/
# https://docs.cilium.io/en/v1.12/gettingstarted/servicemesh/ingress/#kubernetes-ingress-support
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
  extraPortMappings:
    - containerPort: 32080
      hostPort: 32080
    - containerPort: 32443
      hostPort: 32443
networking:
  disableDefaultCNI: true
