# kind.config
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  ipFamily: dual
nodes:
    - role: control-plane
      extraMounts:
        - hostPath: /Users/lookfar/.docker/run/docker.sock
          containerPath: /var/run/docker.sock
    - role: worker
      extraMounts:
        - hostPath: /Users/lookfar/.docker/run/docker.sock
          containerPath: /var/run/docker.sock
    - role: worker
      extraMounts:
        - hostPath: /Users/lookfar/.docker/run/docker.sock
          containerPath: /var/run/docker.sock
